test/data/TDX_v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 rel. 2 (x64) (http://www.altova.com) by Marc Sturm (Med. Genetik Tuebingen) -->
<!--W3C Schema generated by XMLSpy v2013 rel. 2 (x64) (http://www.altova.com)-->
<!--
TODO:
- Add opt arg path to ToolDefinition
- Add Interpreter tag (opt arg path)
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Value" type="xs:string"/>
	<xs:element name="TDX">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Tool"/>
			</xs:sequence>
			<xs:attribute name="version" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Tool">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Description"/>
				<xs:choice maxOccurs="unbounded">
					<xs:element ref="Infile"/>
					<xs:element ref="InfileList"/>
					<xs:element ref="Outfile"/>
					<xs:element ref="String"/>
					<xs:element ref="Enum"/>
					<xs:element ref="Int"/>
					<xs:element ref="Float"/>
					<xs:element ref="Flag"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="version" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="path" type="xs:string"/>
			<xs:attribute name="interpreter" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="String">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Description"/>
				<xs:element name="Optional" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="defaultValue" type="xs:string"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Optional" type="xs:string"/>
	<xs:element name="Outfile">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Description"/>
				<xs:element name="Optional" minOccurs="0">
					<xs:complexType/>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Int">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Description"/>
				<xs:element name="Optional" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="defaultValue" type="xs:integer"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Min" type="xs:integer" minOccurs="0"/>
				<xs:element name="Max" type="xs:integer" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="InfileList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Description"/>
				<xs:element name="Optional" minOccurs="0">
					<xs:complexType/>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Infile">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Description"/>
				<xs:element name="Optional" minOccurs="0">
					<xs:complexType/>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Float">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Description"/>
				<xs:element name="Optional" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="defaultValue" type="xs:float"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Min" type="xs:float" minOccurs="0"/>
				<xs:element name="Max" type="xs:float" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Flag">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Description"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Enum">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Description"/>
				<xs:element name="Optional" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="defaultValue" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				<xs:element ref="Value" minOccurs="2" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Description" type="xs:string"/>
</xs:schema>
